@tailwind base;
@tailwind components;
@tailwind utilities;


th,td{
    text-align: left;
   padding: 4px;
}

.corner{
    border-radius: 15px 50px 30px;
}


.gradient{
    border-radius: 50%;
    background: linear-gradient(to right, red, orange);
    padding: 3px;
  }
  
