@tailwind base;
@tailwind components;
@tailwind utilities;


th,td{
    text-align: left;
   padding: 4px;
}

.corner{
    border-radius: 15px 50px 30px;
}


.gradient{
    border-radius: 50%;
    background: linear-gradient(to right, red, orange);
    padding: 3px;
  }

  .custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}
  
